.greenCell, .greenRow { 
    background-color: lightgreen; 
}
.orangeCell, .orangeRow { 
    background-color: orange; 
}
.redCell, .redRow { 
    background-color: lightcoral;  
}
.greyCell{ 
    background-color:dimgray; 
    color:white; 
}
.yellowCell{ 
    background-color:yellow; 
}
.aquaCell{ 
    background-color:aqua;
}
.lightblueCell{ 
    background-color:lightblue;
}
.coralCell{ 
    background-color:coral;
}
.bluevioletCell{ 
    background-color:blueviolet;
}
.whiteCell,.whiteRow{ 
    background-color:white;
}
.blackCell,.blackRow { 
    background-color: darkgray;
}