@use '../../styles.scss' as c;
@use '../app.component.scss' as app;
@use '@angular/material' as mat;


mat-paginator{
  border: 2px solid black;
  @include mat.paginator-overrides((
    container-text-color: black,
    container-background-color: c.$color3,
    disabled-icon-color: black,
    enabled-icon-color: c.$color4,
  ));
}

table,th,td   {
    border: 1px solid black;
    caption {
      color:c.$mainTextColor;
    }
    th,td {
      text-align: center;
      &:first-child,
      &:nth-child(9) ~ th,
      &:nth-child(9) ~ td{ /* Using the parent selector '&' */
        display: none;
      }
    }
    th{
      @include c.buttonColors;
    }
    td{
      border: 1px solid black;
      button{
        @include c.buttonColors;
        width: 50px; 
        margin-left:5px;
      }
    }
}

.footerRow{
  @include c.buttonColors;
}

.tableContainer{
  margin-top: 20px;
}

