@use '../styles.scss' as c;

#newTaskBTN{
    @include c.buttonColors;
    margin-bottom: 10px;
    margin-left: 20px;
}

#list{
    padding-left: 5vh;
    padding-right: 5vh;
}

.buttonBase{
    @include c.buttonColors;
}

ul.appNav {
    list-style-type: none;
}

.router-outlet {
    padding-left: 1rem;
    padding-right: 1rem;;
}