<div id="formBox">
  <h2 mat-dialog-title>Task</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile colspan="1">
          <mat-form-field>
            <mat-label>Task</mat-label>
            <input matInput id="title" formControlName="title">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-form-field [style.width.px]=212>
            <mat-label>Deadline</mat-label>
            <input matInput [matDatepicker]="picker3" id="deadline" formControlName="deadline" [value]="DeadlineStrValue">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-form-field [style.width.px]=440>
            <mat-label>Textarea</mat-label>
            <textarea matInput id="note" formControlName="note"></textarea>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="cat_id">
              @for (category of taskCategories; track category) {
                <mat-option [value]="category.id">{{category.cat}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-form-field>
            <mat-label>Priority</mat-label>
            <input matInput type="number" min="0" id="prio" placeholder="Enter a number" formControlName="prio">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-form-field>
            <mat-label>Threat</mat-label>
            <mat-select formControlName="threat_id">
              @for (threat of taskThreatLevels; track threat) {
                <mat-option [value]="threat.id">{{threat.level}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select [(value)]="test" formControlName="stat_id">
              @for (status of taskConditions; track status) {
                <mat-option [value]="status.id" [disabled]="mode != 'update'">{{status.stat}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button class="modalBTN" type="submit">Submit</button>
    </mat-dialog-actions>
  </form>

</div>