/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

$mainTextColor:#FFFFFF;

$color1:#404258;
$color2:#344955;
$color3:#50727B;
$color4:#78A083;

@mixin buttonColors {
    color: $mainTextColor;
    background-color: $color3;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


body { 
    height: 100%;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $color1;

    @include mat.theme((
        color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        ),
        typography: Roboto,
        density: 0,
    ));
}
    
